* {
    box-sizing: border-box;
  }

body {
    background-color: #E0E0E2;
    margin: 0px;
    font-family: 'Georgia', Times New Roman, Times, serif;
    position: absolute;
}

.top {
    background-color: #721817;
    height: 100px;
    color: #fbfbfb;
    position: inherit;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}

.logo > img {
    /* height: 150px;
    width: 150px; */
    border: 2px solid;
}

.title {
    margin-left: 10px;
    
}
.title:hover {
    color: #2e0302;
}

a:link,
a:visited {
    text-decoration: none;
    color: #721817;
    background-color: #E0E0E2;
    padding: 15px;
    border-radius: 10px;
    margin-top: 25px;
}
a:hover,
a:active {
    background-color: #721817;
    color: #e7e7e7;
}

.products {
    height: 500px;
    background-image: url(black_lady_drinking.webp);
    background-size: cover;
    background-repeat: no-repeat;
    position: inherit;
    width: 100%;
}

.about {
    text-align: center;
    color: #721817;
}

.about_content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #721817;
    height: 300px;
    padding: 20px 0px;
}

.star {
    height: 50px;
    width: 50px;
}

.vision {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #E0E0E2;
    border-radius: 20px;
    width: 20%;
    height: 260px;
}

.mission {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #E0E0E2;
    border-radius: 20px;
    width: 20%;
    height: 260px;
}

.goal {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #E0E0E2;
    border-radius: 20px;
    width: 20%;
    height: 260px;
}

/* Create three unequal columns that floats next to each other */

.display {
    background-color: #E0E0E2;
    height: 400px;
}
.column {
    float: left;
    /* padding: 15px; */
  }
  
  /* left column */
  .column.left {
    width: 30%;
    padding: 15px;
  }

  .column.right {
    width: 40%;
    background-color: white;
    height: 400px;
  }
  
  /* Middle column */
  .column.middle {
    width: 30%;
    background-image: url(can_drink.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
  }
  
  /* Clear floats after the columns */
  .display::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column.side, .column.middle {
      width: 100%;
    }
}

.rating {
    height: 30px;
    width: 30px;
}

.enter.delivery.address {
    background-color: #e7e7e7;
    height: 50px;
    position: absolute;
    width: 100%;
}

button {
    background-color: #721817;
    border: #721817;
    text-align: center;
    color: white;
    width: 300px;
    padding: 10px;
    font-weight: bold;
    margin-left: 130px;
}

span {
    font-size: x-small;
    color: #721817;
}

.view.more.sizes {
    color: #721817;
    font-weight: 600;
}